

<html>
    <head>

    </head>
    <body class="bg-black">
        <div class="container text-center">
            <p class="text-danger h3 mb-5 mt-3">Access Denied</p>
            <p class="text-danger h5">Not have the access to perform operations </p>
        </div>
    </body>
</html>