@model AddPassword

<body class="bg-black">
    <div class="container col-6 mx-auto">
        <p class="text-info p-2 h3">
            You have successfully set a local password. You can now use either
            your local user account or an external account to login
        </p>

        <form method="post" asp-action="AddPassword" class="p-3 border border-1 border-white rounded">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="addPassword" class="form-label text-white"></label>
            <input asp-for="addPassword" class="form-control" />
            <br />
            <label asp-for="ConfirmPassword" class="form-label text-white"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <br />
            <button class="btn btn-primary">Submit</button>
        </form>

    </div>
</body>