@model ChangePasswordModel

<body class="bg-black">
    <div class="container col-6">
        
        <form method="post" class="mt-4 border border-white border-1 rounded p-3">
            <p class="h2 text-white pt-2 p-3">Change Password</p>
            <div class="text-danger" asp-validation-summary="All"></div>
            <label asp-for="CurrentPassword" class="form-label text-white"></label>
            <input asp-for="CurrentPassword" class="form-control" />
            <br />
            <label asp-for="NewPassword" class="form-label text-white"></label>
            <input asp-for="NewPassword" class="form-control" />
            <br />
            <label asp-for="ConfirmPassword" class="form-label text-white"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <br />
            <div class="d-grid col-6 mx-auto">
                <button class="btn btn-primary d-block" type="submit">Submit</button>

            </div>
        </form>
    </div>
</body>