

<body class="bg-black">

    @if(ViewBag.Msg!=null)
    {
        <p class="text-center h2 text-success mt-5">
            Your Password has been @ViewBag.Msg Successfully
        </p>
    }
    else{
        <p class="text-center h2 text-success mt-5">
            Your Password has been Changed Successfully
        </p>
    }
    
</body>