

@model ForgotPassword

<html>
    <body class="bg-black">
        <div class="container col-6 mx-auto mt-5">
            <p class="text-white h1 p-2">ForgotPassword</p>
            <form method="post" class="p-4 border border-1 rounded border-white">
                <div asp-validation-summary="All"></div>
                <label asp-for="Email" class="form-label text-white"></label>
                <input asp-for="Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
                <br />
                <div class="row">
                    <div class="col-8 mx-auto">
                        <div class="d-grid">
                        <button class="btn btn-dark d-block" type="submit">Submit</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>