<body class="bg-black">
    <p class="h1 alert alert-success mt-3  col-6 mx-auto p-3">
        If you have an account with us, we have sent an email
        with the instructions to reset your password.
    </p>
</body>