@model ResetPasswordModel

<body class="bg-dark">
    <div class="container col-6">
        <p class="h3 m-2 text-white">Reset Password</p>
        <form method="post" class="border border-1 pt-2 mt-3 border-white rounded p-4">
            <div class="text-danger" asp-validation-summary="All"></div>
            <input asp-for="Email" type="hidden" />
            <input asp-for="token" type="hidden" />
            <label asp-for="Password" class="form-label text-white"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <br />
            <label asp-for="ConfirmPassword" class="form-label text-white"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <br />
            <div class="d-grid">
                <button type="submit" class="btn btn-primary d-block">Reset</button>
            </div>
        </form>
    </div>
</body>